<div ng-controller="PetCtrl">

	<h2 class="page-header">Mascota</h2>

	<form ng-submit="savePet()">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-1">
					<span>Nombre de la mascota: </span>
				</div>
				<div class="col-md-4">
					<input type="text" class="form-control" ng-model="pet.name"
						required="required" maxlength="30" />
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					<span>Tipo de Mascota: </span>
				</div>
				<div class="col-md-4">
					<select class="form-control" ng-model="pet.specieId" 
						ng-options="specie.specieId as specie.specieName for specie in species" ng-change="changeAnimalType(pet.specieId)">
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					<span>Raza: </span>
				</div>
				<div class="col-md-4">
					<select class="form-control" ng-model="pet.raceId" ng-options="race.value as race.label for race in races">
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-1">
					<span>Sexo: </span>
				</div>
				<div class="col-md-4">
					<select class="form-control" ng-model="pet.genderId" ng-options="gender.value as gender.label for gender in genders" ng-change="test(pet.specieId)">
					</select>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-2">
					<input type="submit" value="Continuar" class="btn btn-primary" />
				</div>
			</div>
		</div>
	</form>
</div>